*.log
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
_ide_helper.php

# Environment files
.env
.env.backup
.env.production

# Tooling caches
.phpactor.json
.phpunit.result.cache
.phpunit.cache

# IDE / editor
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

auth.json

# Node / PHP dependencies
/node_modules
node_modules/
/vendor/

# Public build / assets
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
public_html/storage
public_html/hot

# Laravel / app specific
bootstrap/compiled.php
app/storage/

# Storage
/storage/*.key
/storage/pail

Homestead.yaml
Homestead.json
/.vagrant
.phpactor.json
.phpunit.result.cache

